* {
  font-family: 'Orbitron', sans-serif;
}
body {
  background:linear-gradient(to right,#000000 55%,#57B8FF 45%)

}

header {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin: 0px 28px;
  padding: 18px 18px auto;
}
img .logo{
  display: flex;
  align-items: center;
}
nav>a .link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  
}

a{
  text-decoration: none;
  color: white;
  margin:30px 30px auto;
  font-weight: 400;
}
 .buttons{
  display: flex;
  align-items: center;

}
.buttons .cart{
  display: flex;
  height: 32px;
  padding-right: 40px;
  align-items: center;
}

.buttons .badge{
  background-color: #fff;
	color: #141820;
	padding: 6px 6px;
	font-size: 11px;
	border-radius: 9px;
	line-height: 7px;
  position:absolute;
  top: 15px;
  right: 218px;
}
.buttons .class-type{
    color:white;
    padding: 16px 31px;
    background: none;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    user-select: none;
    align-items: center;
}

div.main-main{
}

div.future{
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 297px;
  right: 1137px;
  left: 66px;
}

div.future>p{
  color: #57B8FF;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

div.Unlesh{
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 337px;
  right: 724px;
  left: 60px;
}

div.lorem{
  position: absolute;
  top: 640px;
  right: 765px;
  left: 60px;
}

div.lorem>p{
  color: #999999;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
}

nav.side{
  display: flex;
  transform: rotate(270deg);
  position: absolute;
  top: 20px;
  right: 319px;
  left: 1395px;
}

nav.side>a{
  color:#80858F;
  font-size: 11px;
  margin-top: 49;
}

div.fort{
  display: flex;
  justify-content: flex-end;
  height: 518px;
  width: 660px;
  top: 5px; 
  position: absolute;
  left: 50%;
  right: 0%;
  top: calc(50% - 518px/2);
}
