* {
  font-family: 'Orbitron', sans-serif;
}
body {
  background-color: black;
}

header {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

nav>a .link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

a{
  text-decoration: none;
  color: white;
  margin: 0px 38px;
  padding: 0px 60px;
}
